.icongame {
  &--component {
    &-large {
      width: 32px;
      height: 32px;
    }
    &-medium {
      width: 24px;
      height: 24px;
    }
    &-small {
      width: 18px;
      height: 18px;
    }
    &-xsmall {
      width: 14px;
      height: 14px;
    }
  }
}
