/* ------------ */
/* -- COLORS -- */
/* ------------ */

/* Brand colors */
$primary100: #E8EBFD;
$primary200: #B9C2F8;
$primary300: #8B99F4;
$primary400: #5C70F0;
$primary: #2D47EB; // Default color is 500
$primary600: #142ED2;
$primary700: #0F24A3;
$primary800: #0B1A74;
$primary900: #070F46;

/* Greyscale */
$black: #0A0B10;
$white: #ffffff;
$grey100: #EFF1F5;
$grey200: #D0D5E2;
$grey300: #B1B9CE;
$grey400: #939ABC;
$grey500: #5C6593;
$grey600: #434A6C;
$grey700: #2B2F45;
$grey800: #1F2231;
$grey900: #11131C;

/* System colors */
$success100: #EBF9F3;
$success200: #C4EDDC;
$success300: #9DE1C5;
$success400: #76D5AE;
$success: #3DC48C; // Default color is 500
$success600: #2A8961;
$success700: #1E6246;
$success800: #123B2A;
$success900: #06140E;

$warning100: #FFF0E6;
$warning200: #FED1B4;
$warning300: #FDB382;
$warning400: #FC9550;
$warning: #FB8231; // Default color is 500
$warning600: #E15D04; 
$warning700: #AF4803;
$warning800: #7D3402;
$warning900: #4B1F01;

$error100: #F7C2CE;
$error200: #F199AE;
$error300: #E6476D;
$error400: #E11E4D;
$error: #B8193F; // Default color is 500
$error600: #8F1331;
$error700: #660E23;
$error800: #3D0815;
$error900: #140307;


/* -------------- */
/* -- GRADIANT -- */
/* -------------- */
$gradiantPrimary: linear-gradient(to bottom, $primary, $primary700);
$gradiantGrey: linear-gradient(to bottom, $grey600, $grey800);
$gradiantError: linear-gradient(to bottom, $error, $error600);
$gradiantBackground: linear-gradient(135deg, rgba($primary700, 0) 0%, rgba($primary700, 0) 50%, rgba($primary700, 0.3) 100%);

/* ------------ */
/* -- SHADOW -- */
/* ------------ */
$dropPrimary: 0px 2px 0px 0px $primary400;
$dropGrey: 0px 2px 0px 0px $grey700;
$dropError: 0px 2px 0px 0px $error400;
$shadowBlackWhite: 0px 4px 4px 0px rgba($black, 0.25), 0px 1px 2px 0px rgba($white, 0.10) inset;
