/* --------------- */
/* -- VARIABLES -- */
/* --------------- */

/* Breakpoint */
$phone: 375px;
$tablet: 768px;
$desktop: 1024px;

/* Shadow */
$shadowLight: 4px 4px 8px rgba(151, 162, 168, 0.1);
$shadowMedium: 4px 4px 16px rgba(151, 162, 168, 0.3);
$shadowDark: 4px 4px 8px rgba(16, 18, 19, 0.2);

/* Heights */
$headerHeight: 80px;

/* ----------- */
/* -- STYLE -- */
/* ----------- */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: $black;
}

.hidden {
  display: none;
}
